
h1
{
	color: red; 
	font-size: 40px;
}
body.body_background {
	background-image: ("bg1.jpg");
	background-position: center;
	background-size: 1000px;
}

#myCanvas {
	border-width: 10px;
	background-color: white;
	border-style:ridge;
}
